{
	'Title':'Online Compiler',
	'Developer':'Kowtha Saketh',
	'Type':'Web Application',
	'Target System':'Windows',
	'Requirments':{
						'Node Js':['compilex','express'],
						'Angular js':'Angular js CDN',
						'Compilers' : ['gcc','Java','Visual studio' || 'Mono Develop','Strawberry Perl','Ruby','Php','Python'] 
				  }
}