#editor {
  width: 500px;
  height: 400px;
  padding: 100px;
  background-color: #444;
  color: white;
  font-size: 14px;
  font-family: monospace;
}
.statement {
    color: orange;
}
td{
	width: 20%; 
}

h4{
	text-align: center;
}


#btn-btn-info{color:#FFFFFF; background-color:#8096AA;
height:40px;width:120px;font-size:14px;font-weight:normal;}

#heading{color:#8096AA;font-size:25px;}

#controls{color:#8096AA;font-size:16px;font-weight:lighter;}

#extn,#mode,#theme,#error,#output{font-size:14px;width:198px;height:30px;}

#extn{height:130px;}

#ip{width:198px;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    min-height:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;}

